.form{

    height: 40vh;
    width: 300px;
    padding: 10px;
    
    /* display: flex; */
    flex-direction: column;
    background-color: #eee;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    gap: 40px;
    /* border: 1px solid  rgb(235, 135, 135); */
    overflow: hidden;
    
    border-radius: 10px;
    margin-left: 40px;
    
    /* color: navajowhite; */
    box-shadow: 1px  rgb(179, 66, 66);
    
   

}
.form:hover{
    box-shadow: 10px 10px 20px 10px rgb(11, 100, 173) ;
}
.profile-img{

    height: 70px;
    width: 90px;
    border-radius: 50%;
    border:1px solid gray;
}
.Info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: hsl(0,0,100%);
}
button{
    height: 25px;
    width: 100px;
    border: none;
    background-color: rgb(24, 89, 173);
    border-radius: 20px;
    font-size: 16px;
}