.form-two{
    /* background: none; */
    height: 20vh;
    color: oldlace;
    /* background-color: red; */
}
.btn{
    display: flex;
    gap: 30px;
    justify-content: center;
}
button{
    height: 40px;
    /* font-size: 30px; */
    /* font-size: xx-large; */
}